@charset "UTF-8";

* {
  font-family: Arial;
  font-size: 15px;
  font-style: italic;
}

body {
  color: rgb(10, 0, 0);
}

#title {
  position: absolute;
  width: 100%;
  color: white;
  margin-top: 23%;
  font-weight: bolder;
  font-size: 60px;
  text-align: center;
  z-index: 100;
  text-shadow: 1px 1px 2px gray;
  display: block;
}

#sceneBoatFloat {
  position: absolute;
  align-items: center;
  height: 20%;
  display: none;
  z-index: 100;
  margin-top: 30%;
  width: 100%;
}

#continueSceneBoat {
  position: absolute;
  display: none;
  margin: 30px;
  height: 20%;
  width: 50%;
}

#continueSceneHelp {
  position: absolute;
  display: none;
  width: 50%;
  height: 30%;
  margin: 50%;
}

#continueSceneTent {
  position: absolute;
  display: none;
  margin: 20px;
  height: 10%;
  width: 40%;
}

#continueSceneSaved {
  position: absolute;
  display: none;
  margin: 20px;
  height: 10%;
  width: 40%;
}

#rod {
  position: absolute;
  width: 73%;
  margin-top: 10%;
  height: 20%;
  margin-left: 27%;
  display: none;
}

#logs {
  position: absolute;
  width: 40%;
  margin-top: 35%;
  height: 40%;
  margin-left: 28%;
  margin-right: 30%;
  display: none;
}

#water {
  position: absolute;
  width: 100%;
  height: 75%;
  display: none;
  margin-top: 25%;
}

#planeFly {
  position: absolute;
  width: 80%;
  height: 25%;
  margin-left: 20%;
  margin-top: 7%;
  display: none;
}

#circle-button {
  margin-top: 50%;
  margin-left: 45%;
  background-color: white;
  opacity: 0.5;
  position: absolute;
  font-size: 14px;
  text-align: center;
  border: none;
  border-radius: 50%;
  height: 10%;
  width: 8%;
  display: none;
}

#end {
  position: absolute;
  width: 100%;
  color: white;
  margin-top: 23%;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  z-index: 100;
  text-shadow: 1px 1px 2px gray;
  display: none;
}

p {
  color: white;
  margin-top: 25px;
  font-size: 18px;
  text-align: left;
  margin-left: 20px;

  -webkit-animation: fadein 15s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 15s; /* Firefox < 16 */
  -ms-animation: fadein 15s; /* Internet Explorer */
  -o-animation: fadein 15s; /* Opera < 12.1 */
  animation: fadein 15s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#container {
  position: absolute;
}

#webglcanvas {
  border: none;
  background-color: #ffffff;
}
